$Vorschlagstext.getData()

#if (  ( $permissionChecker.isOmniadmin() || $permissionChecker.isCommunityAdmin( $groupId )  ) )
Aah!

    <div>
    Eingereicht von: $EinreichenderName.getData(), <a href="mailto:">$EinreichenderText.getData()</a>$EinreichenderText.getData()</a> <br />
    Eingereicht via $QuellenTyp.getData(), <a href="$QuelleFallsZutreffend.getData()">$QuelleFallsZutreffend.getData()</a><br /> 
            </div>
#end