<p>Dies ist ein Test-Template für die neue Schlagwortwolke.</p>

#if (!$entries.isEmpty())

    #set ($maximum = 0)
	#foreach ($curTag in $entries)
		#if ( $curTag.assetCount > $maximum )
		    #set ($maximum = $curTag.assetCount)
		#end
		
	#end


<p>
	#foreach ($curTag in $entries)
	    #set ($percent = .75 *100.0*$curTag.assetCount / $maximum  ) 
        #set ($percent = $mathTool.toInteger($percent) ) 
	    ##set ($rest = 100 - $percent)
	    

	    <div style="width:100%; background: repeating-linear-gradient(to right,  yellow, red ${percent}%, white, white 100%  );">
		$curTag.name
		($curTag.assetCount)
		</div>
		
		#end
</p>		
#end

<p>Noch ist unklar, wie man auch die Links für den AssetPublisher bekommt.</p>