## diese Teams dürfen Kontaktdaten sehen:
#set ( $displayContactTeams = ["Teilnehmer"] )

## Benutzer-Teams checken hier
#set ( $displayContact = false )

## Admins dürfen alles sehen
#if (  $permissionChecker.isOmniadmin() || $permissionChecker.isGroupAdmin($group_id) )
    #set ( $displayContact = true )
    
## Falls nicht Admin, einzelne Teams durchecken
#else    
    #set ($rService = $serviceLocator.findService("com.liferay.portal.service.TeamService"))
    #set ($usrTeams = $rService.getUserTeams( $getterUtil.getLong($request.attributes.get('USER_ID') )))
    #foreach( $t in $usrTeams )
    
        #foreach ( $allowed in $displayContactTeams )
            #if ( $allowed.equals($t.getName() ) )
                #set ( $displayContact = true )
                #break
            #end
            ## Escape outer loop if access already allowed
            #if ( $displayContact )
                #break
            #end
        #end
    #end
#end    

<p><strong>Name:</strong> $Name.getData()</p>

#if ( $displayContact )
    <p><strong>E-Mail:</strong> <a href="mailto:$EMail.getData().trim()">$EMail.getData()</a></p>

    <p><strong>Organisation:</strong> $Organisation.getData()</p>
#end    

<p><strong>Das beschäftigt mich:</strong> $beschaeftigtMich.getData()</p>

<p><strong>Das suche ich:</strong> $sucheIch.getData()</p>

<p><strong>Das biete ich:</strong> $bieteIch.getData()</p>

<p>Dieser Eintrag wurde zuletzt aktualisiert am
$dateTool.format("dd.MM.yyyy",  $dateTool.toDate("EEE, dd MMM yyyy hh:mm:ss Z",$reserved-article-modified-date.getData()), $locale).</p>


$request