<h1> Beitrag </h1>

$Vorschlagstext.getData()

## code kommt von hauptsächlich von: http://www.nikhilnishchal.com/tech-blogs/-/blogs/18466

## WICHTIG: einstweilen wird hier die structure ID der blumenwiesePowerIdeeStructure benötigt 
## WICHtIG: einstweilen ist unten auch noch der Pfad einzutragen
## WICHTIG: absolut unschöne Situation: die Schleife unten iteriert durch alle Webcontents, auch durch die alten Versionen dieser Contents. Wenn jetzt von einem Content zwei Versionen v1 und v2 vorhanden sind, würde für beide Versionen ein Link angelegt werden. Dieser Link würde aber immer zum neuesten Link zeigen. Ob eine Abfrage "isThisTheLatestArticle" geht, habe ich noch nicht erforscht. Deshalb der Dirty Hack mit der Liste printedLinks. Wenn wir für v1 schon einen Link angelegt haben, so wird für v2 keiner mehr angelegt.

#set ($structureId  = 342639)   
#set ($longGroupId = $getterUtil.getLong($groupId))
#set ($JournalArticleLocalService = $serviceLocator.findService("com.liferay.portlet.journal.service.JournalArticleLocalService"))
#set ($DDMStructureLocalService = $serviceLocator.findService("com.liferay.portlet.dynamicdatamapping.service.DDMStructureLocalService"))
#set ($GroupLocalService = $serviceLocator.findService("com.liferay.portal.service.GroupLocalService"))
#set ($LayoutLocalService = $serviceLocator.findService("com.liferay.portal.service.LayoutLocalService"))
#set ($groupFriendlyUrl = $GroupLocalService.getGroup($groupId).getFriendlyURL())
#set($structureKey = $DDMStructureLocalService.getStructure($structureId))
#set ($articles = $JournalArticleLocalService.getStructureArticles($getterUtil.getLong($groupId), $structureKey.structureKey))
</br>

#set($printedLinks = [])

</br>
    <div class="vorschlagsIdeen">
        <h4>Ideen in diesem Beitrag: </h4>
        
        #foreach ($Jarticle in $articles)

            #set($article = $JournalArticleLocalService.getLatestArticle($Jarticle.getResourcePrimKey()))
            #set( $doc = $saxReaderUtil.read($article.getContentByLocale($localeUtil.toLanguageId($localeUtil.getDefault()))))
            #set( $rootElement = $doc.getRootElement() )
            #set( $xPathSelector = $saxReaderUtil.createXPath("dynamic-element[@name='vorschlagID']") )
            #set( $field1Val = $xPathSelector.selectSingleNode($rootElement).getStringValue() )
   
            #if($reserved-article-id.data.toString() == $field1Val.toString().trim())
                #if(!$printedLinks.contains($article.getArticleId()))
                    </br>
                    <a href="/web/blumenwiese/ideen/-/asset_publisher/jsgoSp5bR6Uc/content/$article.getUrlTitle()">$article.getTitle("$locale")</a>

                    ## call add() in set function so that the return value (true) does not get printed
                    #set($addedLink = $printedLinks.add($article.getArticleId()))

                #end
            #end
        #end
    </div>
    
    
#if (  ( $permissionChecker.isOmniadmin() || $permissionChecker.isCommunityAdmin( $groupId )  ) )
Ich bin ein Text, den du nur als Admin siehst. </br>
Meine WebContent ID: $reserved-article-id.data
#end