<h1> Idee: </h1>
<div>$Text.getData()</div>
<div class="eingebetteteVorschlaege">
<h3>Vorschläge (momentan: nur ein Vorschlag) mit dieser Idee:</h3>
#set($journalArticleLocalService = $serviceLocator.findService("com.liferay.portlet.journal.service.JournalArticleLocalService" ))
#set($assetEntryLocalService = $serviceLocator.findService("com.liferay.portlet.asset.service.AssetEntryLocalService" ))
#set($currentArticle = $journalArticleLocalService.getArticle($getterUtil.getLong($groupId),$vorschlagID.getData()))
#set($currentArticleResourcePrimKey = $currentArticle.getResourcePrimKey())
#set($currentArticleAssetEntry = $assetEntryLocalService.getEntry("com.liferay.portlet.journal.model.JournalArticle", $currentArticleResourcePrimKey))
#set($currentArticleAssetEntryEntryId = $currentArticleAssetEntry.getEntryId())
#set($articleTitle = $currentArticle.getTitle($locale))
<h4> $articleTitle</h4>
<br></br><span> $journalContentUtil.getContent($getterUtil.getLong($groupId), $vorschlagID.getData(),  "", "$locale", "")</span>

</div>