<div>

#if (!$entries.isEmpty())
	#foreach ($curEntry in $entries)
	
	  <div>
		
		##$curEntry
		
		#set($renderer = $curEntry.getAssetRenderer() )
		#set($className = $renderer.getClassName() )

		##  #set ( $viewURL = $assetPublisherHelper.getAssetViewURL($renderRequest, $renderResponse, $curEntry) )
		##$viewURL
		#set ($dlURL = $renderer.getURLDownload($themeDisplay))
		
		##$className
		## sollte sein: com.liferay.portlet.documentlibrary.model.DLFileEntry
		
		## TODO: escapes
		#set ( $popupURL = "javascript:Liferay.Util.openWindow({id:'$renderResponse.getNamespace()imagePopup', title: '$curEntry.description', uri:'$dlURL'});" )

		<a href="$popupURL"><img  src="$dlURL" /></a>
		
		<br />
		
		$htmlUtil.escape($curEntry.description)
		
		  </div>
		
	#end
#end

</div>