## Metadaten-Icons:
#set ($modifiedTimeIcon = "icon-calendar" )
#set ($publishedTimeIcon = "icon-calendar" )
#set ($createdTimeIcon = "icon-calendar" )
#set ($expiresTimeIcon = "icon-calendar-empty" )
#set ($viewCountIcon = "icon-eye-open" )
#set ($tagIcon = "icon-tag" )
#set ($categoryIcon = "icon-folder-close" )
#set ($authorIcon = "icon-user" )
#set ($authorPriority = "icon-long-arrow-up" )

## Generische Icon-Klasse/Erweiterung für wichtige Formatierungen:
#set ($genericIconClass = "PaStyleIconExtension")


<style>

p.paAussagenAussage, p.paAussagenActionIcons {
    font-weight:bold;
    /*font-size: 1.2em;*/
    margin-bottom:5px;
}

p.paAussagenActionIcons {
  display:inline;
  float:right;
}

p.paAussagenQuellen, p.paAussagenMetadaten {
    margin-bottom:0px;
    margin-left:3em;
}


i.$genericIconClass:before {
  display:inline !important;
  padding-right:.25rem;
}

span.paAussagenMetadatenItem {
  padding-right:.4rem;

}

div.paAussagenEinzelAussage {
  padding-bottom: 10px;
}

</style>

#set ( $dq = '"')

## Falls Titel im AssetPublisher definiert, diesen verwenden
#if ( ! $themeDisplay.getPortletDisplay().getTitle().trim().equals("") )
  <h3 class="paAussagenHeader">$htmlUtil.escape($themeDisplay.getPortletDisplay().getTitle())</h3>
#end  


#if (!$entries.isEmpty())
        #foreach ($curEntry in $entries)
                ##$curEntry.getTitle($locale)
        
            #set($renderer = $curEntry.getAssetRenderer() )
            #set($className = $renderer.getClassName() )     
            
            
            ## Edit Button aktivieren oder nicht?
            #set ( $editLink = '' )
            #if ($renderer.hasEditPermission($themeDisplay.getPermissionChecker())) 
              ## jetzt muss der Edit-Button und seine Funktion gebastelt werden…
              #set ( $redirectURL = $renderResponse.createRenderURL() )
              $redirectURL.setParameter("struts_action", "/asset_publisher/add_asset_redirect")
              $redirectURL.setWindowState("pop_up")
              #set ( $editPortletURL = $renderer.getURLEdit($renderRequest, $renderResponse, $windowStateFactory.getWindowState("pop_up"), $redirectURL) )
              #if ( $validator.isNotNull($editPortletURL) )
                  #set ( $editTitle = $languageUtil.format($locale, "edit-x", $htmlUtil.escape($renderer.getTitle($locale))) )
                  #set ( $safeURL = $htmlUtil.escapeURL($editPortletURL.toString()) )
                  #set ( $editURL = "javascript:Liferay.Util.openWindow({id:'$renderResponse.getNamespace()editAsset', title: '$editTitle', uri:'$safeURL'});" )
                  #set ( $editLink = "<a href=${dq}${editURL}${dq}<i class=${dq}icon-edit-sign${dq}></i></a>" )
              #end
            #end        
            
        
            #if( $className == "com.liferay.portlet.journal.model.JournalArticle" )
            
	    #set ($actionIcons ='')
	    #if ( $editLink != '') 
	      #set ($actionIcons ="<p class=${dq}paAussagenActionIcons${dq}>${editLink}</a></p>")
	    #end
            
            
                <div class="paAussagenEinzelAussage">
            
                #set( $journalArticle = $renderer.getArticle() ) 
                
                $actionIcons
                
                $journalContentUtil.getContent($getterUtil.getLong($groupId), $journalArticle.getArticleId(), "", "$locale", "")
                
            
                ## Und hier geht es durch alle Metadaten-Felder durch, die bei Bedarf (angeschaltet in Config) eingefügt werden
                 #if (! $metadataFields.equals("") )
                   <p class="paAussagenMetadaten">
                   #foreach ( $curField in $metadataFields.split(",") )
                     #if ( $curField.equals("view-count") && ($curEntry.viewCount == 1 ) )
                       <span class="paAussagenMetadatenItem"><i class="$viewCountIcon $genericIconClass"></i>$curEntry.viewCount&nbsp;Aufruf</span>
                     #elseif ( $curField.equals("view-count") )
                       <span class="paAussagenMetadatenItem"><i class="$viewCountIcon $genericIconClass"></i>$curEntry.viewCount&nbsp;Aufrufe</span>
                     #elseif ( $curField.equals("modified-date") && $modified  )
                       <span class="paAussagenMetadatenItem"><i class="$modifiedTimeIcon $genericIconClass"></i>$modified</span>
                     #elseif ( $curField.equals("create-date") && $created )
                       <span class="paAussagenMetadatenItem"><i class="$createdTimeIcon $genericIconClass"></i>$created</span>
                     #elseif ( $curField.equals("expiration-date") && $expires )  
                       <span class="paAussagenMetadatenItem"><i class="$expiresTimeIcon $genericIconClass"></i>$expires</span>
                     #elseif ( $curField.equals("publish-date") && $published )  
                       <span class="paAussagenMetadatenItem"><i class="$publishedTimeIcon $genericIconClass"></i>$pubished</span>
                     #elseif ( $curField.equals("author") )  
                       <span class="paAussagenMetadatenItem"><i class="$authorIcon $genericIconClass"></i>Autor:&nbsp;$htmlUtil.escape($curEntry.userName)</span>
                     #elseif ( $curField.equals("priority") )  
                       <span class="paAussagenMetadatenItem"><i class="$authorPriority $genericIconClass"></i>Priorität:&nbsp;$curEntry.priority</span>
                     #elseif ( $curField.equals("tags") )  
                       #set ($tags = $curEntry.getTags() )
                       #if ( ! $tags.isEmpty() )
                         Schlagwörter:&nbsp; 
                         #foreach ( $curTag in $tags )
                           <span class="paAussagenMetadatenItem"><i class="$tagIcon $genericIconClass"></i>$htmlUtil.escape($curTag.name )</span>
                         #end
                       #end
                     #elseif ( $curField.equals("categories") )  
                       #set ($categories = $curEntry.getCategories() )
                       #if ( ! $categories.isEmpty() ) 
                         Kategorien:&nbsp;
                         #foreach ( $curCat in $categories )
                           <span class="paAussagenMetadatenItem"><i class="$categoryIcon $genericIconClass"></i>$htmlUtil.escape($curCat.name )</span>
                         #end
                       #end
                     #end  
                   #end
                   </p>
                 #end ##If Metadaten anzeigen
                 
                 </div>
       
            #end ## If WebContent    
                
                
        #end ##Ende Schleife über alle Einträge
#end