## Farbdefinitionen als Velocity-Variablen
#set ( $green = '#00FF00' )
#set ( $red = '#FF0000' )
#set ( $yellow = '#FFFF00' ) 

## CSS Definitionen
<style>
span.farbfeld {
    float:left;
    min-width:30px;
    
    margin-right:4px;
}  

span.statusfeld {
    float:left;
    min-width:30px;
    background-color: #dedede;
    text-align:center;
    margin-right:4px;
}  


</style>



	  ## CSS farbcodes für Zuordnung vorbreiten
#set ( $cssHintergrund = '' )
#set ( $zuordnungName = '')
#set ( $zuordnungKey = $Zuordnung.getData().toLowerCase() )

	  #if ($zuordnungKey.contains('kurz'))
	    #set ( $cssHintergrund = "background-color: ${green};" )
	    #set ( $zuordnungName = 'Kurzfristige Maßnahme')
	  #end    
	  #if ($zuordnungKey.contains('mittel'))
	    #set ( $cssHintergrund = "background-color: ${yellow};" )
	    #set ( $zuordnungName = 'Mittelfristige Maßnahme')
	  #end    
	  #if ($zuordnungKey.contains('lang'))
	    #set (  $cssHintergrund = "background-color: ${red};" )
	    #set ( $zuordnungName = 'Langfristige Maßnahme')
	  #end    
	  #if ($zuordnungKey.contains('lang') && $zuordnungKey.contains('mittel') )
	    #set ($cssHintergrund = "background: repeating-linear-gradient(to right,  ${yellow},  ${yellow} 50%,  ${red} 50%, ${red} );" )
	    #set ( $zuordnungName = 'Mittel- bis langfristige Maßnahme')
	  #end   
	  #if ($zuordnungKey.contains('lang') && $zuordnungKey.contains('kurz') )
	    #set ($cssHintergrund = "background: repeating-linear-gradient(to right,  ${green},  ${green} 50%,  ${red} 50%, ${red});" )
	    #set ( $zuordnungName = 'Kurz- und langfristige Maßnahme')
	  #end    
	  #if ($zuordnungKey.contains('lang') && $zuordnungKey.contains('kurz') && $zuordnungKey.contains('mittel') )
	    #set ($cssHintergrund = "background: repeating-linear-gradient(to right,  ${green},  ${green} 33%,  ${yellow} 33%, ${yellow} 66%,  ${red} 66%, ${red});" )
	    #set ( $zuordnungName = 'Kurz-, lang- und langfristige Maßnahme')
	  #end            

## Status-Anzeige vorbereiten
#set ( $status = 'Noch nicht begonnen' )
#set ( $statusIcon = '' )
#if ($getterUtil.getBoolean($MassnahmeInVorbereitung.getData()))
  #set ( $status = 'In Vorbereitung' )
  #set ( $statusIcon = '<i class="icon-repeat"></i>' )
#end
#if ($getterUtil.getBoolean($MassnahmeInArbeit.getData()))
  #set ( $status = 'In Arbeit' )
  #set ( $statusIcon = '<i class="icon-cogs"></i>' )
#end
#if ( $getterUtil.getBoolean($MassnahmeAbgeschlossen.getData()))
  #set ( $status = 'Abgeschlossen' )
  #set ( $statusIcon = '<i class="icon-check"></i>' )
#end

<div style="border: 1px solid #9e9e9e; padding:5px; padding-bottom:0px; margin-bottom:5px;">
  <p><strong>Zuordnung: </strong>
  <span>$zuordnungName<span class="farbfeld" style="$cssHintergrund">&nbsp;</span></span>
  &nbsp;&nbsp;
  <strong>Status: </strong> $status</p>
  
  #if ( $LetzterStand && ! $LetzterStand.getData().trim().equals("") )
  <p><strong>Letzter Stand: <span class="statusfeld" >$statusIcon</span></strong> $htmlUtil.escape($LetzterStand.getData())</p>
  #end
</div>  
<div style="border: 1px solid #9e9e9e; padding:5px; padding-bottom:0px;">

  <p><strong>Anmerkung: </strong>$Beschreibung.getData()</p>

  <p><strong>Dorf: </strong>$htmlUtil.escape($Dorf.getData())</p>
  <p><strong>Arbeitskreis: </strong>$htmlUtil.escape($Arbeitskreis.getData())</p>
  <p><strong>Quelle: </strong>

  #if ( $PlakatURL.getData().trim().equals('') ) 
    &ndash;
  #else     
     #set ( $safeURL = $htmlUtil.escapeHREF($PlakatURL.getData()) )
    <a href="$safeURL">Zugrunde liegender Vorschlag des Arbeitskreises</a></p>    
  #end

  <p><strong>Zuständig für die Umsetzung: </strong>$htmlUtil.escape($Zustaendigkeit.getData())</p>
  <p>Dieser Eintrag wurde zuletzt aktualisiert am
  $dateTool.format("dd.MM.yyyy",  $dateTool.toDate("EEE, dd MMM yyyy hh:mm:ss Z",$reserved-article-modified-date.getData()), $locale).</p>
</div>