##
## WebContent, der in einer schicken Box lebt, die ein- und ausgeklappt werden kann
## (Beta: Kann noch nicht "klappen")
##

## TODO: Box-Stil zentral ablegen
<style>
div.paBoxStyleHeader {
  background-color: #F4F4F4;
  padding-left:10px;
  padding-right:10px;
  padding-top:0px;
}

h3.paBoxStyleHeader {
  margin-top:0px;
  padding-top:10px;
}

div.paBoxStyleEntry {

  border: 1px solid #cccccc;
  
  margin-bottom:10px;

}

div.paBoxStyleFullContent {

  padding-left:10px;
  padding-right:10px;
  padding-top:0px;

}

</style>




<div class="paBoxStyleEntry">
  <div class="paBoxStyleHeader">
  <h3 class="paBoxStyleHeader">$reserved-article-title.getData()</h3>
  </div>

  <div class="paBoxStyleFullContent">
  $Text.getData()
  </div>
</div>